.infoContainer{
    margin: auto;
    max-width: 80%;
    background: rgba(255, 255, 255, 0.06);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.1px);
-webkit-backdrop-filter: blur(2.1px);
border: 1px solid rgba(255, 255, 255, 0.17);
}

.everything{
    width: 100%;
    margin-top: 20px;
    display: flex
}

.info{
    width: 38%;
    margin-right: 2%;
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
-webkit-backdrop-filter: blur(6.6px);
border: 1px solid rgba(255, 255, 255, 0.31);
    border-radius: 10px;
}

.info h1{
    font-size: 10px;
}

.imageDiv{
    min-width: 400px;
    width: 60%;
}
.image{
    width: 80%;
    aspect-ratio: 5/4;
    border-radius: 20px;
}

.description{
    margin: 2%;
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
-webkit-backdrop-filter: blur(6.6px);
border: 1px solid rgba(255, 255, 255, 0.31);
    border-radius: 10px;
    width: 96%;
}

@media only screen and (max-width: 800px) {
    .everything{
        flex-direction: column;
    }
    .imageDiv{
        min-width: 200px;
        width: 100%;
        margin-bottom: 10px;
    }
    .info{
        width: 96%;
        margin-right: 2%;
        margin-left: 2%;
    }
}