.infoContainer{
    margin: auto;
    max-width: 80%;
    background: rgba(255, 255, 255, 0.06);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.1px);
-webkit-backdrop-filter: blur(2.1px);
border: 1px solid rgba(255, 255, 255, 0.17);
}

.everything{
    width: 100%;
    margin-top: 20px;
    display: flex
}

.info{
    display: flex;
    flex-direction: column;
    width: 38%;
    margin-right: 2%;
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
-webkit-backdrop-filter: blur(6.6px);
border: 1px solid rgba(255, 255, 255, 0.31);
    border-radius: 10px;
}

.info h2{
    font-size: 2.1vw;
    font-weight: 800;
    color: black;
}

.imageDiv{
    min-width: 400px;
    width: 60%;
}
.image{
    width: 80%;
    aspect-ratio: 5/4;
    border-radius: 20px;
}

.description{
    margin: 2%;
    padding-left: 1%;
    padding-right: 1%;
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
-webkit-backdrop-filter: blur(6.6px);
border: 1px solid rgba(255, 255, 255, 0.31);
    border-radius: 10px;
    width: 94%;
}

.specificInfo{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: 96%;
}

.specificInfo h4{
    align-self: flex-start;
    margin: 0px;
    margin-left: 10%;
    font-size: 1.4vw;
    color: black;
    font-weight: 600;
}
.specificInfo p{
    margin: 5px;
    font-size: 1.2vw;
}

@media only screen and (max-width: 800px) {
    .everything{
        flex-direction: column;
    }
    .imageDiv{
        min-width: 200px;
        width: 100%;
        margin-bottom: 10px;
    }
    .info{
        width: 96%;
        margin-right: 2%;
        margin-left: 2%;
    }
    .info h2{
        font-size: x-large;
    }
    .specificInfo h4{
        font-size: large;
    }
    .specificInfo p{
        font-size: medium;
    }
}